body{
	background-color: yellow;font-size: 15px;
	box-sizing: border-box;

}
#title1,#title2,#title3{position:absolute;border:1px solid black;
	font-size: 20px;font-weight: bold;width: 30%;top: 0px;
}
#title1{background-color: pink}
#title2{background-color:red;}
#title3{background-color:lightblue;}
h1{width:300px;margin-right: auto;margin-left: auto;}
#section1,#section2,#section3{
	position: relative;
	padding-bottom: 10px;
	
	padding-top: 40px;

	height: auto;
	border:1px solid black;
	background-color: grey;
	

	}
	#row{width: 100%;}
/*desktop mockup*/
@media (min-width: 992px){#section1,#section2,#section3
	{float: left;width: 30%;margin-left: 15px;
	margin-right: 15px;}
}
/*tablet viw*/
@media (max-width:991px) AND (min-width: 768px){#section1,#section2{float: left;width:45%;margin-left: 15px;
	margin-right: 15px;margin-bottom: 15px;
}
#section3{clear:both;margin-top: 10px; width:94%;margin-left: 15px;
	margin-right: 15px;}
	#title1,#title2{width: 21%;top: 0px;
    }
    #title3{width: 10%}
}
/*mobile view*/
@media (max-width: 767px){#section1,#section2,#section3{
	margin-top:15px;margin-left: 15px;
	margin-right: 15px;}
		#title1,#title2,#title3{
width: 13%
		}
}

